<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<title>Home</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>

<nav>
  <div class="logo">Dashboard</div>
  <div class="links">
    <a href="/home">Home</a>
    <a href="/logout">Logout</a>
  </div>
</nav>

<div class="welcome-box">
  <h1>Welcome Back, <span id="username"></span> 🎉</h1>
</div>

<div class="products-container">

  <div class="item-card">
    <img id="productImage1" class="item-image">
    <h2 id="productName1"></h2>
    <h3>Price: <span id="price1"></span> EGP</h3>

    <form class="promoForm">
      <input class="promoCode" placeholder="Promo Code">
      <button>Apply</button>
    </form>

    <p class="promoMessage"></p>
  </div>

  <div class="item-card">
    <img id="productImage2" class="item-image">
    <h2 id="productName2"></h2>
    <h3>Price: <span id="price2"></span> EGP</h3>

    <form class="promoForm">
      <input class="promoCode" placeholder="Promo Code">
      <button>Apply</button>
    </form>

    <p class="promoMessage"></p>
  </div>

</div>

<script>
let products = [];
// USER
fetch("/user")
.then(r => r.json())
.then(d => {
  document.getElementById("username").textContent = d.username;
});

// PRODUCTS
fetch("/product")
.then(r => r.json())
.then(data => {

  products = data; // 

  if (products[0]) {
    document.getElementById("productName1").textContent = products[0].Name;
    document.getElementById("price1").textContent = products[0].Price;
    document.getElementById("productImage1").src = products[0].Image;
  }

  if (products[1]) {
    document.getElementById("productName2").textContent = products[1].Name;
    document.getElementById("price2").textContent = products[1].Price;
    document.getElementById("productImage2").src = products[1].Image;
  }

});

// PROMO
document.querySelectorAll(".promoForm").forEach((form, index) => {

  form.addEventListener("submit", async (e) => {
    e.preventDefault();

    const promoCode = form.querySelector(".promoCode").value;

    const res = await fetch("/apply-promo", {
      method: "POST",
      headers: {"Content-Type":"application/json"},
      body: JSON.stringify({
        promoCode,
        productId: Number(products[index].Id)
      })
    });

    const data = await res.json();

    const msg = form.parentElement.querySelector(".promoMessage");

    if (data.success) {
      document.getElementById(`price${index+1}`).textContent = data.finalPrice;
    }

    msg.textContent = data.message;
  });

});

</script>

</body>
</html>